@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #4487c9;
  text-rendering: optimizeLegibility;
}
